<h2>Detalhes do Candidato</h2>
<p>ID: {{candidato.dataValues.id}}</p>
<p>ID do Processo: {{candidato.dataValues.idProcesso}}</p>
<p>Nome Completo: {{candidato.dataValues.nomeCompleto}}</p>
<p>Data de Nascimento: {{candidato.dataValues.dataNascimento}}</p>
<p>Email: {{candidato.dataValues.email}}</p>
<p>Nome da Mãe: {{candidato.dataValues.nomeMae}}</p>
<p>CPF: {{candidato.dataValues.cpf}}</p>
<p>Identidade: {{candidato.dataValues.identidade}}</p>
<p>Data de Emissão da Identidade: {{candidato.dataValues.dataEmissaoIdentidade}}</p>
<p>Órgão Emissor da Identidade: {{candidato.dataValues.orgaoEmissorIdentidade}}</p>
<p>Título Eleitoral: {{candidato.dataValues.tituloEleitoral}}</p>
<p>Série do Documento Militar: {{candidato.dataValues.serieDocumentoMilitar}}</p>
<p>Endereço Residencial: {{candidato.dataValues.enderecoResidencial}}</p>
<p>Cidade de Residência: {{candidato.dataValues.cidadeResidencia}}</p>
<p>Estado de Residência: {{candidato.dataValues.estadoResidencia}}</p>
<p>Telefone para Contato: {{candidato.dataValues.telefoneContato}}</p>
<p>Link para o Lattes: {{candidato.dataValues.linkLattes}}</p>
<p>Reservas de Vagas: {{candidato.dataValues.reservasVagas}}</p>
<p>SIAPE: {{candidato.dataValues.siape}}</p>
<p>Nome do Curso: {{candidato.dataValues.nomeCurso}}</p>
<p>Tipo de Curso: {{candidato.dataValues.tipoCurso}}</p>
<p>Instituição: {{candidato.dataValues.instituicao}}</p>
<p>Ano de Conclusão: {{candidato.dataValues.anoConclusao}}</p>
<p>Local de Trabalho: {{candidato.dataValues.localTrabalho}}</p>
<p>Atuação: {{candidato.dataValues.atuacao}}</p>
<p>Inglês (Leitura): {{candidato.dataValues.inglesLeitura}}</p>
<p>Inglês (Escrita): {{candidato.dataValues.inglesEscrita}}</p>
<p>Inglês (Fala): {{candidato.dataValues.inglesFala}}</p>
<p>Tipo de Inscrição: {{candidato.dataValues.tipoInscricao}}</p>
<p>Semestre de Ingresso: {{candidato.dataValues.semestreIngresso}}</p>
<p>Orientador Preferencial: {{candidato.dataValues.orientadorPreferencial}}</p>
<p>Segunda Opção: {{candidato.dataValues.segundaOpcao}}</p>
<p>Terceira Opção: {{candidato.dataValues.terceiraOpcao}}</p>
<p>Dedicação Integral: {{candidato.dataValues.dedicacaoIntegral}}</p>
<p>Manutenção de Vínculo: {{candidato.dataValues.manutencaoVinculo}}</p>
<p>Interesse em Bolsa: {{candidato.dataValues.interesseBolsa}}</p>
<p>Projeto de Doutorado / Memorial: {{candidato.dataValues.projetoDoutoradoMemorial}}</p>
<p>Título da Publicação: {{candidato.dataValues.tituloPublicacao}}</p>
<p>Local da Publicação: {{candidato.dataValues.localPublicacao}}</p>
<p>Tipo da Publicação: {{candidato.dataValues.tipoPublicacao}}</p>
<p>Qualis da Publicação: {{candidato.dataValues.qualisPublicacao}}</p>
<p>Comprovação da Publicação: {{candidato.dataValues.comprovacaoPublicacao}}</p>
<p>Primeiro Autor: {{candidato.dataValues.primeiroAutor}}</p>
<p>Currículo Lattes: {{candidato.dataValues.curriculoLattes}}</p>
<p>Diploma de Graduação: {{candidato.dataValues.diplomaGraduacao}}</p>
<p>Diploma de Mestrado: {{candidato.dataValues.diplomaMestrado}}</p>
<p>Histórico de Graduação: {{candidato.dataValues.historicoGraduacao}}</p>
<p>Histórico de Mestrado: {{candidato.dataValues.historicoMestrado}}</p>
<p>Carteira de Identidade: {{candidato.dataValues.carteiraIdentidade}}</p>
<p>CPF Secundário: {{candidato.dataValues.cpfSecundario}}</p>
<p>Título de Eleitor: {{candidato.dataValues.tituloEleitor}}</p>
<p>Certificado Militar: {{candidato.dataValues.certificadoMilitar}}</p>
<p>Certidão de Casamento: {{candidato.dataValues.certidaoCasamento}}</p>
<p>Comprovante de Pagamento: {{candidato.dataValues.comprovantePagamento}}</p>
<p>Documentação Adicional: {{candidato.dataValues.documentacaoAdicional}}</p>
<p>Outro Documento: {{candidato.dataValues.outroDocumento}}</p>
<p>ID do Usuário: {{candidato.dataValues.idUsuario}}</p>
<p>Timestamp: {{candidato.dataValues.timestamp}}</p>
<p>Last Updated: {{candidato.dataValues.lastUpdated}}</p>
<p>Created By: {{candidato.dataValues.createdBy}}</p>
<p>Updated By: {{candidato.dataValues.updatedBy}}</p>
<p>Draft: {{candidato.dataValues.draft}}</p>
<p>IP: {{candidato.dataValues.ip}}</p>
<p>Key: {{candidato.dataValues.key}}</p>
<p>Nota: {{candidato.dataValues.nota}}</p>

<a href="/candidatos/{{candidato.dataValues.id}}/edit">Editar</a>

